body{
    font-family: 'Century Gothic', Calibri, serif;
    font-size: 19px;
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 40px;
    font-weight: normal; 
    text-align: center;
}
header{
    height: 100px;
}
footer{
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: rgb(192, 186, 186);
    border-top: 2px solid grey;
}
nav{
    width: 100%;
    background-color: rgb(73, 73, 125);
}
nav ul{
    margin: 0px;
    padding: Opx;
}
nav li{
    list-style-type: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px; 
    color: rgb(231, 225, 245);
    text-transform: uppercase;
    font-size: 15px;
}
.table{
    display: table;
    margin: 0 auto;
}
.menu-ind:hover, .presentation{
    border-top: 5px solid rgb(60, 188, 124);
    background-color:rgb(64, 200, 130, 0.15) ;
}
.menu-exp:hover, .parcours{
    border-top: 5px solid #f0d83b;
    background-color: RGBa(241, 211, 79, 0.15);
}
.menu-hob:hover, .competences{
    border-top: 5px solid #49abed;
    background-color: RGBa(000, 112, 192, 0.15);
}
.menu-con:hover, .recommandation{
    border-top: 5px solid #f3481d;
    background-color: RGBa(228, 77, 38, 0.15);
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}
section{
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.sec{
    margin: 0px 10%;
}
.left{
    float: left;
    width: 30%;
}
.right{
    float: left;
    width: 70%;
}
.cleft, .cright, .sousleft, .sousright{
    width: 50%;
    float: left;
}
.sec::after, .exp::after, .reco::after{
    content: "";
    display: table;
    clear: both;
}
.orange{
    border-top: 5px solid #f88a30;
    background-color: RGBa(228, 117, 38, 0.15);
    margin-bottom: 0px;
}
.rose{
    border-top: 5px solid #e04992;
    background-color: RGBa(228, 77, 128, 0.15);
    margin-bottom: 0px;
}
.vert{
    border-top: 5px solid #5f6;
    background-color: RGBa(70, 240, 80, 0.15);
}
.jaune{
    border-top: 5px solid #f3e241;
    background-color: RGBa(240, 255, 69, 0.15);
}
.bleu{
    border-top: 5px solid #29c;
    background-color: RGBa(30, 152, 212, 0.15);
}
.rose{
    border-top: 5px solid #e04992;
    background-color: RGBa(228, 77, 128, 0.15);
}
.leftexp{
    width: 45%;
    float: left;
}
.rightexp{
    width: 50%;
    float: left;
    margin-left: 5%;
}
.rouge{
    border-top: 5px solid #e44d26;
    background-color: RGBa(228, 77, 38, 0.15);
}
.leftexp img{
    width: 100%;
    max-width: 300px;
}
@media screen and (max-width: 780px) {
    header{
        height: 50px;
    }
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
}